[project]
	description = Authy/Google Authenticator like TOTP CLI tool written in Go.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Balazs Nadasdi (Yitsushi)
[access "refs/for/refs/*"]
	read = group user/Balazs Nadasdi (Yitsushi)
	push = group user/Balazs Nadasdi (Yitsushi)
	label-Code-Review = -2..+2 group user/Balazs Nadasdi (Yitsushi)
	label-Verified = -1..+1 group user/Balazs Nadasdi (Yitsushi)
	rebase = group user/Balazs Nadasdi (Yitsushi)
	removeReviewer = group user/Balazs Nadasdi (Yitsushi)
	submit = group user/Balazs Nadasdi (Yitsushi)
[access "refs/heads/*"]
	read = group user/Balazs Nadasdi (Yitsushi)
	create = group user/Balazs Nadasdi (Yitsushi)
	push = +force group user/Balazs Nadasdi (Yitsushi)
	pushMerge = group user/Balazs Nadasdi (Yitsushi)
[access "refs/tags/*"]
	push = +force group user/Balazs Nadasdi (Yitsushi)
	pushTag = group user/Balazs Nadasdi (Yitsushi)
	pushSignedTag = group user/Balazs Nadasdi (Yitsushi)
