name: Quality Check

on:
  push:
  pull_request:

jobs:
  test:
    name: Test and coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go 1.x
        uses: actions/setup-go@v5
        with:
          go-version: ^1.22

      - name: Get dependencies
        run: |
          go get -v -t -d ./...

      - name: go test
        run: go test -v -covermode=count -coverprofile=coverage.out ./...

      - name: Convert coverage.out to coverage.lcov
        uses: jandelgado/gcov2lcov-action@v1.0.9

      - name: Coveralls
        uses: coverallsapp/github-action@v2.2.3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: coverage.lcov

  vet:
    name: go vet and lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go 1.x
        uses: actions/setup-go@v5
        with:
          go-version: ^1.22

      - name: go vet
        run: go vet ./...

  lint:
    name: go vet and lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go 1.x
        uses: actions/setup-go@v5
        with:
          go-version: ^1.22

      - name: Get dependencies
        run: |
          go get -v -t -d ./...
          go install golang.org/x/lint/golint@latest
          go install github.com/Antonboom/testifylint@latest

      - name: golint
        run: golint -set_exit_status ./...

      - name: testifylint
        run: testifylint -v -enable-all ./...

  golangci:
    name: golangci lint check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go 1.x
        uses: actions/setup-go@v5
        with:
          go-version: ^1.22

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v4
        with:
          version: v1.61.0
